<h1>Date</h1>
<h2>Form: {{ form.valid }}</h2>
<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-row">

      <div class="col-md-6 mb-6">
        <label for="firstName">First name</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{'is-invalid': form.controls.firstName.touched && form.controls.firstName?.errors, 'is-valid': form.controls.firstName.touched && !form.controls.firstName?.errors}"
          placeholder="Enter firstName">
        <div class="valid-feedback">
          Success
        </div>
        <div class="invalid-feedback">
          Required field
        </div>
      </div>
      <div class="col-md-6 mb-6">
        <label for="date">Date</label>
        <input type="text" formControlName="date" class="form-control" [bsConfig]="bsConfig"
          [ngClass]="{'is-invalid': form.controls.date.touched && form.controls.date?.errors, 'is-valid': form.controls.date.touched && !form.controls.date?.errors}"
          placeholder="Datepicker" bsDatepicker>
        <div class="valid-feedback">
          Success
        </div>
        <div class="invalid-feedback">
          Required field
        </div>
      </div>

    </div>
    <div class="mt-2 clearfix">
      <button type="submit" class="btn btn-success float-right"
        [disabled]="form.controls.firstName.errors && form.controls.firstName.errors">
        Save
      </button>
    </div>
  </form>
  <hr>
  <h3>firstName</h3>
  <pre>
    errors: {{ form.controls.firstName?.errors | json }}
  </pre>
  <h3>date</h3>
  <pre>
    errors: {{ form.controls.date?.errors | json }}
  </pre>
  <h3>Form Value</h3>
  <pre>
    {{ form.value | json }}
  </pre>
</div>

<div class="container-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of testsColumn">{{ item }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test of tests">
        <th scope="row"> {{ test.id }}</th>
        <td>{{ test.firstName }}</td>
        <td>{{ test.date | date }}</td>
        <td>{{ test.createdAt | date }}</td>
        <td>{{ test.updatedAt | date }}</td>
      </tr>
    </tbody>
  </table>
</div>